.section-work {
    display: flex;
    justify-content: center;
}
 

.section-work .section-work__item--work:not(:last-child) {
    margin-right: 30px;
}

.section .section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;

}
.img-about {
    display: block;
}

.section-work__item--work {
    position: relative;
}

.work--text {
    position: absolute;
    left: 0;
    bottom: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: rgba(47, 48, 58, 0.8);
    padding: 27px;
    width: 100%;
}